page-waiting-approval {
     .fullpage{
       display: flex;
  flex-flow: column;
  height: 100%;
  }

    .content{
            position: relative;
    top: 50%;
    transform: translateY(-50%);

        .button{

            width:250px;
        }
    }
}
