page-product-page {
    
    .product-details{
        background-color:#f0f4f5;
        color:#898989;
        
    }
    h2{
        color:#000000;
    }
    h4{
        color:#515151;
    }
    .product-price{

        font-size: 1.5rem;
        color: map-get($colors, secondary)
    }
        

    .profile-photo {
                padding-top: 16px;
                
                $photoSize: 128px;
                
                img {
                    width: $photoSize;
                    height: $photoSize;                    
                    border: solid 2px white;
                    margin: 0 auto;
                }
        }
}
