page-about {

     .fullpage{
       display: flex;
  flex-flow: column;
  height: 100%;
  }

    .content{
            position: relative;
    top: 50%;
    transform: translateY(-50%);

    }
   
    .profile-photo {
                padding-top: 16px;
                
                $photoSize: 128px;
                
                img {
                    width: $photoSize;
                    height: $photoSize;                    
                    border: solid 2px white;
                    margin: 0 auto;
                }
        }
    .item {
        background-color: transparent;
        .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}
    }

    custom-icon{
                    font-size: 5em;
       
        }
    custom-icon how3 {
    font-size: 7em;
}
}
