<ion-header>
  <!--<ion-navbar>
    <ion-title>Sign in</ion-title>
  </ion-navbar>-->
</ion-header>

<ion-content padding scroll="false">

    <div class="login" text-center >
        <div text-center style="padding: 30px 0px 20px 10px">
            <img src="assets/img/textlogo.png">
        </div>

        <div style="padding:10px" text-center>
            <p>Not a member yet?<a (click)="createAccount()"> Sign Up! </a></p>
        </div>
        

            <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

                <ion-item >
                    <custom-icon set="mb" name="profile" item-left></custom-icon>
                    <!--<ion-label>Email</ion-label>-->
                    <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
                               placeholder="Enter Email Address"
                               [class.invalid]="!loginForm.controls.email.valid &&
          (emailChanged || submitAttempt)"></ion-input>
                </ion-item>
                <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
      (emailChanged || submitAttempt)">
                    <p>Please enter a valid email.</p>
                </ion-item>

                <ion-item>
                    <custom-icon set="mb" name="lock" item-left></custom-icon>
                    <!--<ion-label>Password</ion-label>-->
                    <ion-input #password formControlName="password" type="password"
                               (change)="elementChanged(password)"
                               placeholder="Enter Password"
                               [class.invalid]="!loginForm.controls.password.valid &&
          (passwordChanged || submitAttempt)"></ion-input>
                </ion-item>
                <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      (passwordChanged || submitAttempt)">
                    <p>Your password needs more than 6 characters.</p>
                </ion-item>

                

                <div text-center>
                    <button ion-button round type="submit" style="width: 20rem;margin-top: 4rem !important;">
                        Login
                    </button>
                </div>

            </form>
            <button ion-button block clear color="#bdbdbd" (click)="goToResetPassword()">
                Forgot Password
            </button>

           
            <div text-center>
                <p>OR</p>
                 <ion-row>
                    <ion-col col-3></ion-col>
                    <ion-col text-center>
                        <div tappable ion-button clear text-center (click)="loginWithFacebook()" style="height: 100%; width: 100%;">
                            <img src="assets/img/facebook.png">
                        </div>
                    </ion-col>
                     
                    <ion-col text-center>
                        <div tappable ion-button clear text-center (click)="loginWithGoogle()" style="height: 100%; width: 100%;">
                            <img src="assets/img/google.png">
                        </div>
                    </ion-col>
                     <ion-col col-3></ion-col>
                </ion-row>
            </div>

        </div>
</ion-content>
