<!--
  Generated template for the BrowseRequirements page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Browse Requirements</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center padding>

    <ion-row wrap>
        <ion-col width-50 *ngFor="let requirement of requirementList | async" (click)="openrequirementpage(requirement)">
            <ion-card>
                <ion-card-content>
                    <div>
                        <div class="gradeCircle2">{{requirement?.grade}}</div>
                    </div>
                    <ion-card-title>
                        {{requirement?.category}}
                    </ion-card-title>
                    <p>                        
                        <br>
                        {{requirement?.quantity}} {{requirement?.unit}}
                        <br>
                        {{requirement?.bid | currency:"INR":true}}
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    <!--<ion-list>
        <ion-item *ngFor="let requirement of requirementList | async" (click)="openrequirementpage(requirement)">
            <ion-card>
                <ion-card-content>
                    <ion-card-title>
                        {{requirement.category}}
                    </ion-card-title>
                    <p>
                        {{requirement.grade}}
                        <br>
                        {{requirement.quantity}} {{requirement.unit}}
                        <br>
                        {{requirement.bid | currency:"INR":true}}
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>-->

</ion-content>
