
<ion-header>

  <ion-navbar>
    <ion-title>Browse</ion-title>
      <ion-buttons end>
          <button ion-button color="primary" outline (click)="openmyrequirements()">
              My Req...
          </button>
      </ion-buttons>
  </ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

</ion-header>


<ion-content text-center padding>

    <div class="fullpage" *ngIf="!displayList">
        <div class="content">
            <div text-center>
                <ion-spinner name="bubbles"></ion-spinner>
            </div>
        </div>
    </div>

    <div class="fullpage" *ngIf="requirementList?.length === 0">
        <div class="content">
            <div text-center>
                No Requirements Found!

            </div>
        </div>
    </div>

    <ion-row wrap>
        <ion-col tappable col-6 col-sm-3 *ngFor="let requirement of displayList " (click)="openrequirementpage(requirement)">
            <ion-card class="product-card">
                <ion-card-content style="padding: 10px 4px 10px 4px;">
                    <div>
                        <div class="gradeCircle2">{{requirement?.grade}}</div>
                    </div>
                    <h2>
                        {{requirement?.category}}
                    </h2>
                    <ion-grid class="product-highlighters">
                        <ion-row *ngIf="requirement?.sizedetails">
                            <ion-col text-center>
                                Size 
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="requirement?.sizedetails">
                            <ion-col text-center class="product-data">

                                {{requirement?.sizedetails}}
                            </ion-col>
                        </ion-row>
                         <ion-row *ngIf="requirement?.quantity">
                            <ion-col text-center >
                                Quantity
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="requirement?.quantity">
                            <ion-col text-center class="product-data"  >

                                {{requirement?.quantity}} {{requirement?.unit}}
                            </ion-col>
                         </ion-row>
                        <ion-row *ngIf="requirement?.bid">
                            <ion-col text-center >
                                Bid
                            </ion-col>
                        </ion-row>
                        <ion-row  *ngIf="requirement?.bid">
                            <ion-col text-center class="product-data">
                                {{requirement?.bid | currency:"INR":true}}
                            </ion-col>
                        </ion-row>
                    </ion-grid>
</ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"
                                     loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
