page-prices {
    .up{
        .price{
            background-color: green;
        }
        h3{
            color: white;
        }
        ion-icon{
            color: white;
        }

    }
    .down{
        .price{
            background-color: red;
        }
        h3{
            color: white;
        }
        ion-icon{
            color: white;
        }
    }
}
