<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Prices</ion-title>
    </ion-navbar>
      <ion-segment [(ngModel)]="segment" >
        <ion-segment-button value="mcx">
            MCX
        </ion-segment-button>
        <ion-segment-button value="lme">
            LME
        </ion-segment-button>
    </ion-segment>


</ion-header>


<ion-content padding>

    <div class="fullpage" *ngIf="(this.segment === 'lme'  && !lmeList) || (this.segment === 'mcx'  && !mcxList) " >
        <div class="content">
            <div text-center >
                <ion-spinner name="bubbles"></ion-spinner>
            </div>
         </div>
     </div>
    
   <ion-list *ngIf="this.segment === 'lme' ">
        <ion-item [class.up]="item?.type === 'up' " [class.down]="item?.type === 'down' " *ngFor="let item of lmeList | async" >
                        
            
            
            <ion-row>
                <ion-col col-6 col-sm-8>
                    <h2>{{item?.name}}</h2>
                    <h4>{{item?.time}}</h4>
                </ion-col>
                <ion-col class="price">
                    <ion-item no-lines>
                        <ion-icon name="arrow-round-up" item-right isActive="false"></ion-icon>
                        <h3>{{item?.price  | currency:"INR":true}}</h3>
                    </ion-item>
                    
                </ion-col>
            </ion-row>
            
            </ion-item>
    </ion-list>

    <ion-list *ngIf="this.segment === 'mcx' ">
        <ion-item [class.up]="item?.type === 'up' " [class.down]="item?.type === 'down' " *ngFor="let item of mcxList | async" >
            
            <ion-row>
                <ion-col col-6 col-sm-8>
                    <h2>{{item?.name}}</h2>
                    <h4>{{item?.time}}</h4>
                </ion-col>
                <ion-col  class="price">
                    <ion-item no-lines >
                        <ion-icon name="arrow-round-down" item-right isActive="false"></ion-icon>
                        <h3>{{item?.price  | currency:"INR":true}}</h3>
                    </ion-item>
                    
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>

</ion-content>
