page-prices {

   .fullpage{
       display: flex;
  flex-flow: column;
  height: 100%;
  }

    .content{
            position: relative;
    top: 50%;
    transform: translateY(-50%);

    }

    .up{
        .price{
            background-color: #6bd3a8;

            .item{
          background-color: transparent;
        }
            }
        h3{
            color: white;
        }
        ion-icon{
            color: white;
        }

    }
    .down{
        .price{
            background-color: #ff686b;

             .item{
          background-color: transparent;
          }

    
        }
        h3{
            color: white;
        }
        ion-icon{
            color: white;
        }
    }
}
