@font-face {
  font-family: "MbIcons";
  src: url('../assets/fonts/MbIcons.eot');
  src: url('../assets/fonts/MbIcons.eot?#iefix') format('eot'),
  url('../assets/fonts/MbIcons.woff2') format('woff2'),
  url('../assets/fonts/MbIcons.woff') format('woff'),
  url('../assets/fonts/MbIcons.ttf') format('truetype'),
  url('../assets/fonts/MbIcons.svg#MbIcons') format('svg');
}

@mixin mb-styles {
  font-family: "MbIcons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%mb {
  @include mb-styles;
}

@function mb-char($filename) {
  $char: "";

  @if $filename == about {
  $char: "\E001";
}
  @if $filename == bidprice {
  $char: "\E002";
}
  @if $filename == calculator {
  $char: "\E003";
}
  @if $filename == companyname {
  $char: "\E004";
}
  @if $filename == dialer {
  $char: "\E005";
}
  @if $filename == directory {
  $char: "\E006";
}
  @if $filename == edit {
  $char: "\E007";
}
  @if $filename == facebook {
  $char: "\E008";
}
  @if $filename == google-circle {
  $char: "\E009";
}
  @if $filename == google {
  $char: "\E00A";
}
  @if $filename == grade {
  $char: "\E00B";
}
  @if $filename == heart-fill {
  $char: "\E00C";
}
  @if $filename == heart {
  $char: "\E00D";
}
  @if $filename == home {
  $char: "\E00E";
}
  @if $filename == how1 {
  $char: "\E00F";
}
  @if $filename == how2 {
  $char: "\E010";
}
  @if $filename == how3 {
  $char: "\E011";
}
  @if $filename == how4 {
  $char: "\E012";
}
  @if $filename == lock {
  $char: "\E013";
}
  @if $filename == logout {
  $char: "\E014";
}
  @if $filename == mail {
  $char: "\E015";
}
  @if $filename == menu {
  $char: "\E016";
}
  @if $filename == message {
  $char: "\E017";
}
  @if $filename == mobile {
  $char: "\E018";
}
  @if $filename == post {
  $char: "\E019";
}
  @if $filename == prices {
  $char: "\E01A";
}
  @if $filename == products {
  $char: "\E01B";
}
  @if $filename == profile {
  $char: "\E01C";
}
  @if $filename == quantity {
  $char: "\E01D";
}
  @if $filename == query {
  $char: "\E01E";
}
  @if $filename == search {
  $char: "\E01F";
}
  @if $filename == settings {
  $char: "\E020";
}
  @if $filename == share {
  $char: "\E021";
}
  @if $filename == star {
  $char: "\E022";
}
  @if $filename == tick {
  $char: "\E023";
}
  @if $filename == unit {
  $char: "\E024";
}
  @if $filename == upload {
  $char: "\E025";
}
  @if $filename == vat {
  $char: "\E026";
}

@return $char;
}

@mixin mb($filename, $insert: before, $extend: true) {
&:#{$insert} {
  @if $extend {
    @extend %mb;
  } @else {
    @include mb-styles;
  }
  content: mb-char($filename);
}
}

.mb-about {
  @include mb(about);
}
.mb-bidprice {
  @include mb(bidprice);
}
.mb-calculator {
  @include mb(calculator);
}
.mb-companyname {
  @include mb(companyname);
}
.mb-dialer {
  @include mb(dialer);
}
.mb-directory {
  @include mb(directory);
}
.mb-edit {
  @include mb(edit);
}
.mb-facebook {
  @include mb(facebook);
}
.mb-google-circle {
  @include mb(google-circle);
}
.mb-google {
  @include mb(google);
}
.mb-grade {
  @include mb(grade);
}
.mb-heart-fill {
  @include mb(heart-fill);
}
.mb-heart {
  @include mb(heart);
}
.mb-home {
  @include mb(home);
}
.mb-how1 {
  @include mb(how1);
}
.mb-how2 {
  @include mb(how2);
}
.mb-how3 {
  @include mb(how3);
}
.mb-how4 {
  @include mb(how4);
}
.mb-lock {
  @include mb(lock);
}
.mb-logout {
  @include mb(logout);
}
.mb-mail {
  @include mb(mail);
}
.mb-menu {
  @include mb(menu);
}
.mb-message {
  @include mb(message);
}
.mb-mobile {
  @include mb(mobile);
}
.mb-post {
  @include mb(post);
}
.mb-prices {
  @include mb(prices);
}
.mb-products {
  @include mb(products);
}
.mb-profile {
  @include mb(profile);
}
.mb-quantity {
  @include mb(quantity);
}
.mb-query {
  @include mb(query);
}
.mb-search {
  @include mb(search);
}
.mb-settings {
  @include mb(settings);
}
.mb-share {
  @include mb(share);
}
.mb-star {
  @include mb(star);
}
.mb-tick {
  @include mb(tick);
}
.mb-unit {
  @include mb(unit);
}
.mb-upload {
  @include mb(upload);
}
.mb-vat {
  @include mb(vat);
}