@font-face {
  font-family: "MbIcons";
  src: url('../assets/fonts/MbIcons.eot');
  src: url('../assets/fonts/MbIcons.eot?#iefix') format('eot'),
  url('../assets/fonts/MbIcons.woff2') format('woff2'),
  url('../assets/fonts/MbIcons.woff') format('woff'),
  url('../assets/fonts/MbIcons.ttf') format('truetype'),
  url('../assets/fonts/MbIcons.svg#MbIcons') format('svg');
}

@mixin mb-styles {
  font-family: "MbIcons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%mb {
  @include mb-styles;
}

@function mb-char($filename) {
  $char: "";

  @if $filename == All icons-11 {
  $char: "\E001";
}
  @if $filename == All icons-12 {
  $char: "\E002";
}
  @if $filename == All icons-17 {
  $char: "\E003";
}
  @if $filename == All icons-19 {
  $char: "\E004";
}
  @if $filename == All icons-20 {
  $char: "\E005";
}
  @if $filename == dialer {
  $char: "\E006";
}
  @if $filename == directory {
  $char: "\E007";
}
  @if $filename == facebook {
  $char: "\E008";
}
  @if $filename == google {
  $char: "\E009";
}
  @if $filename == heart-fill {
  $char: "\E00A";
}
  @if $filename == heart {
  $char: "\E00B";
}
  @if $filename == home {
  $char: "\E00C";
}
  @if $filename == lock {
  $char: "\E00D";
}
  @if $filename == logout {
  $char: "\E00E";
}
  @if $filename == menu {
  $char: "\E00F";
}
  @if $filename == message {
  $char: "\E010";
}
  @if $filename == post {
  $char: "\E011";
}
  @if $filename == prices {
  $char: "\E012";
}
  @if $filename == products {
  $char: "\E013";
}
  @if $filename == profile {
  $char: "\E014";
}
  @if $filename == search {
  $char: "\E015";
}
  @if $filename == settings {
  $char: "\E016";
}
  @if $filename == upload {
  $char: "\E017";
}

@return $char;
}

@mixin mb($filename, $insert: before, $extend: true) {
&:#{$insert} {
  @if $extend {
    @extend %mb;
  } @else {
    @include mb-styles;
  }
  content: mb-char($filename);
}
}

.mb-All icons-11 {
  @include mb(All icons-11);
}
.mb-All icons-12 {
  @include mb(All icons-12);
}
.mb-All icons-17 {
  @include mb(All icons-17);
}
.mb-All icons-19 {
  @include mb(All icons-19);
}
.mb-All icons-20 {
  @include mb(All icons-20);
}
.mb-dialer {
  @include mb(dialer);
}
.mb-directory {
  @include mb(directory);
}
.mb-facebook {
  @include mb(facebook);
}
.mb-google {
  @include mb(google);
}
.mb-heart-fill {
  @include mb(heart-fill);
}
.mb-heart {
  @include mb(heart);
}
.mb-home {
  @include mb(home);
}
.mb-lock {
  @include mb(lock);
}
.mb-logout {
  @include mb(logout);
}
.mb-menu {
  @include mb(menu);
}
.mb-message {
  @include mb(message);
}
.mb-post {
  @include mb(post);
}
.mb-prices {
  @include mb(prices);
}
.mb-products {
  @include mb(products);
}
.mb-profile {
  @include mb(profile);
}
.mb-search {
  @include mb(search);
}
.mb-settings {
  @include mb(settings);
}
.mb-upload {
  @include mb(upload);
}