page-requirement-details {
      .product-details{
         background-color:#f1f4f5;
        color:#898989;

    .item custom-icon{
            font-size: 5rem;
    }
    .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  color:#898989;
  }
    .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}
}   
      .profile-photo {
                padding-top: 16px;
                
                $photoSize: 128px;
                
                img {
                    width: $photoSize;
                    height: $photoSize;                    
                    border: solid 2px white;
                    margin: 0 auto;
                }
        }
}
