page-tab-profile {
    ion-content {
        background: #f7f7f7 !important;
        
        .profile-top {
            width: 100%;
            margin: 0;
            .profile-photo {
                padding-top: 16px;
                
                $photoSize: 128px;
                
                img {
                    width: $photoSize;
                    height: $photoSize;
                    border-radius: 50%;
                    border: solid 2px rgba(234, 79, 20, .5);
                    margin: 0 auto;
                }
            }
        }

        .profile-detail {
            margin-top: 24px;

            ion-item {
                ion-icon {
                    font-size: 1.4rem;
                };
                p {
                    padding-top: 6px;
                }
            }
        }
    }
    ion-item ion-label {
    margin: 0 !important;
  }

  ion-list {
    margin: 0;
    padding: 0;
  }

  ion-list-header {
    background-color: #ECECEC;
    margin: 0;
    padding: 10px 16px;
  }

  ion-item {
    padding: 0;
  }

  ion-datetime {
    padding-left: 3px !important;
  }

  .item-inner {
    border: none !important;
    padding: 0;
  }

  .placeholder-profile {
    color: #CCCCCC;
  }

  .dob-label {
    color: #000000 !important;
    padding: 10px !important;
    max-width: 50% !important;
  }
}
