page-market {

    .quick-filter{
      margin-top:50px;
      margin-bottom:50px;
    }

    .card-background-page {

        @media only screen and (min-width: 600px){
        height: 20%;
    }

  .top-card {
    position: relative;
    text-align: center;
    margin:0px; 
    width:100%;
    border-radius:0px;
    height: 100%;
   }

  .card-title {
    position: absolute;
    top: 16%;
    font-size: 1.2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}




    .header-image {
        max-width:100%;
    background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
    height: 25vh;
}
 
.main-content {
    padding: 20px;
    background-color: white;
    width: 100%;
}
  .product-card{

      img{

          height:50%;

      }

  }
  scroll-content{
	background-color: rgb(41, 221, 171);
}

ion-scroll.item{
	height: 100%;
}

ion-col{
	padding: 10px;
	//border: solid 1px #DDD;
	//background-color: #ffff;
	//color: #FFF;
	//border-radius: 3px;
	//margin: 5px;
}
.gradeCircle{
        
    display: inline-block;
    text-align: center;
    /* width: 10%; */
    /* border: 1.2em solid #dddddd; */
    background-color: #ddd;
    width: 2.4em;
    height: 2.4em;
    line-height: 2.4em;
    border-radius: 50%;
    /* max-width: 1.2em; */
    /* max-height: 1.2em; */
    /* box-sizing: border-box; */    
    /* margin: 0 auto; */


    }

.gradeCircle2{
        //background-color: #f4f4f4;
    //border: 1px solid #1a1e5e;
    //border-radius: 40px;
    //box-shadow: 0 0 2px #888;
    height: 75px;
    width: 75px;
    text-align: center;
    line-height: 5em;
    color: #1a1e5e;
    font-weight:bold;
    margin-left: auto;
    margin-right: auto;

    }

 .recent-list{

     margin-top: 20px;

     .product-card{
        margin: 0px;
        width: 100%;
        height:100% !important;
    }

   .product-highlighters{
       font-size: 1.2rem;
      padding: 10px 0px;

       ion-col{
           padding: 2px;
           color: #777777;
       }

       ion-col.product-data{
          color: #1a1e5e;
       }
   }
    .gradeCircle{
        
    display: inline-block;
    text-align: center;
    /* width: 10%; */
    /* border: 1.2em solid #dddddd; */
    background-color: #ddd;
    width: 2.4em;
    height: 2.4em;
    line-height: 2.4em;
    border-radius: 50%;
    /* max-width: 1.2em; */
    /* max-height: 1.2em; */
    /* box-sizing: border-box; */    
    /* margin: 0 auto; */


    }

    .gradeCircle2{
            overflow: hidden;
    word-wrap: normal;
    text-overflow: ellipsis;
        background-color: #f4f4f4;
    border: 3px solid #1a1e5e;
    border-radius: 40px;
    box-shadow: 0 0 2px #888;
    height: 75px;
    width: 75px;
    text-align: center;
    line-height: 5em;
    color: #1a1e5e;
    font-weight:bold;
    margin-left: auto;
    margin-right: auto;

    }

 }

}
