<!--
  Generated template for the EnquiryDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Enquiry Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid >
        <ion-row>
            <ion-col width-80>
                {{enquiry?.productName}}
            </ion-col>            
            <ion-col>
                <button ion-button clear small (click)="viewProduct()">Details</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                Requirement: {{enquiry?.quantity}} {{enquiry?.unit}}
            </ion-col>
            <ion-col *ngIf="enquiry?.rate === 'mrate' ">
                Market Rate: Rs. {{enquiry?.productMrate}}/{{enquiry?.productUnit}}
            </ion-col>
            <ion-col *ngIf="enquiry?.rate === 'krate' ">
                Kalamboli Rate: Rs. {{enquiry?.productKrate}}/{{enquiry?.productUnit}}
            </ion-col>
        </ion-row>
        <ion-row *ngIf="enquiry?.payment === 'cash' ">
            Preferred Payment Mode: Cash
        </ion-row>
        <ion-row *ngIf="enquiry?.payment === ' credit' ">
            Preferred Payment Mode: 45 Days Credit
        </ion-row>

        <ion-row *ngIf="enquiry?.details">
            Details: {{enquiry?.details}}
        </ion-row>

        <ion-row *ngIf="enquiry?.type === 'sent' ">
            <ion-col width-80>
                Seller: {{enquiry?.otheruserName}} | {{enquiry?.otheruserNo}}
            </ion-col>
            <ion-col>
                <button ion-button clear small (click)="viewProfile()">Profile</button>
            </ion-col>
           
        </ion-row>
        <ion-row *ngIf="enquiry?.type === 'received' ">
            <ion-col width-80>
                Buyer: {{enquiry?.otheruserName}} | {{enquiry?.otheruserNo}}
            </ion-col>
            <ion-col>
                <button ion-button clear small (click)="viewProfile()">Profile</button>
            </ion-col>            
        </ion-row>       
    </ion-grid>       

    <ion-list>
        <ion-item  *ngFor="let message of messageList | async">
            <ion-label item-right>{{message.text}}</ion-label>            
        </ion-item>
    </ion-list>

</ion-content>
<ion-footer>
    <form #f="ngForm">
        <ion-grid>
            <ion-row>
                <ion-col width-80>                    
                        <ion-input type="text" [(ngModel)]="chatBox" name="chatText" required placeholder="Message..."></ion-input>                                          
                </ion-col>
                <ion-col>
                    <button  ion-button full (click)="send(f.value,f.valid)" [disabled]="f.valid === false" icon-right>
                        Send
                        <ion-icon name="send"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-footer>
