<!--
  Generated template for the EnquiryDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Enquiry Details</ion-title>
      <ion-buttons end>
          <button ion-button (click)="confirmDelete()" clear>
              <ion-icon name="trash"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


    
<ion-content style="background-color:#f0f4f5;">

    <div class="details">
        <ion-grid *ngIf="!enquiry?.quote">
            <ion-row ion-item no-lines>
                <ion-col width-80>
                    <h2>{{enquiry?.productName}}</h2>
                </ion-col>
                <button ion-button item-right clear small (click)="viewProduct()">Details</button>
            </ion-row>
            <div class="details-content">
                <ion-row>
                    <ion-col>
                        Requirement: {{enquiry?.quantity}} {{enquiry?.unit}}
                    </ion-col>
                    </ion-row>
                <ion-row>
                    <ion-col *ngIf="enquiry?.rate === 'mrate' ">
                        Market Rate: {{enquiry?.productMrate | currency:"INR":true}}/{{enquiry?.productUnit}}
                    </ion-col>
                    <ion-col *ngIf="enquiry?.rate === 'krate' ">
                        Kalamboli Rate: {{enquiry?.productKrate | currency:"INR":true}}/{{enquiry?.productUnit}}
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="enquiry?.payment === 'cash' ">
                    <ion-col>
                        Preferred Payment Mode: Cash
                    </ion-col>
                </ion-row>
                <ion-row ion-item *ngIf="enquiry?.payment === ' credit' ">
                    <ion-col>
                        Preferred Payment Mode: 45 Days Credit
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="enquiry?.details">
                    <ion-col>
                        Details: {{enquiry?.details}}
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>        

        <ion-grid *ngIf="enquiry?.quote">
            <ion-row ion-item no-lines>
                <ion-col width-80>
                    <h2>{{enquiry?.requirement?.category}}</h2>
                </ion-col>
                <button ion-button item-right clear small (click)="viewRequirement()">Details</button>
            </ion-row>
            <div class="details-content">
                Quote:
                <ion-row>
                    <ion-col>
                        Price: {{enquiry?.quote?.price | currency:"INR":true}} / {{enquiry?.requirement?.unit}}
                    </ion-col>
                    </ion-row>
                <ion-row>
                    <ion-col>
                        Delivery in: {{enquiry?.quote?.delivery}} days
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="enquiry?.quote?.payment === 'cash' ">
                    <ion-col>
                        Preferred Payment Mode: Cash
                    </ion-col>
                </ion-row>
                <ion-row ion-item *ngIf="enquiry?.quote?.payment === ' credit' ">
                    <ion-col>
                        Preferred Payment Mode: 45 Days Credit
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="enquiry?.quote?.details">
                    <ion-col>
                        Details: {{enquiry?.quote?.details}}
                    </ion-col>
                </ion-row>
            </div>
            
        </ion-grid>
    </div>
    <div class="details" style="margin-top: 10px;">
        <ion-item no-lines>
            <ion-grid *ngIf="!enquiry?.quote">
                <ion-row ion-item *ngIf="enquiry?.type === 'sent' ">
                    <ion-col width-80>
                        <h2>Seller </h2>
                        <h3>{{enquiry?.otheruserName}} </h3>
                        <h3>{{enquiry?.otheruserNo}}</h3>
                       </ion-col>
                    
                    <button ion-button item-right clear small (click)="viewProfile()">View Profile</button>
                    </ion-row>
                <ion-row ion-item *ngIf="enquiry?.type === 'received' ">
                        <ion-col width-80>
                            <h2>Buyer</h2>
                            <h3>{{enquiry?.otheruserName}} </h3>
                            <h3>{{enquiry?.otheruserNo}}</h3>
                            
                        </ion-col>
                        <button ion-button item-right clear small (click)="viewProfile()">View Profile</button>
                </ion-row>
            </ion-grid>
            <ion-grid *ngIf="enquiry?.quote">
                <ion-row ion-item *ngIf="enquiry?.type === 'sent' ">
                    <ion-col width-80>
    <h2>Buyer</h2>
    <h3>{{enquiry?.otheruserName}} </h3>
    <h3>{{enquiry?.otheruserNo}}</h3>

</ion-col>
<button ion-button item-right clear small (click)="viewProfile()">View Profile</button>
                </ion-row>
                <ion-row ion-item *ngIf="enquiry?.type === 'received' ">
                    <ion-col width-80>
                        <h2>Seller</h2>
                        <h3>{{enquiry?.otheruserName}} </h3>
                        <h3>{{enquiry?.otheruserNo}}</h3>

                    </ion-col>
                    <button ion-button item-right clear small (click)="viewProfile()">View Profile</button>
                </ion-row>
               
            </ion-grid>
        </ion-item>
    </div>
    
    <ion-list class="chat" no-lines>
        <div *ngFor="let message of messageList | async">
            <div class="spacer-10"></div>
            <div text-right *ngIf="message.type === 'sent' ">
                <div text-wrap class="sent">
                    <p>{{message.text}}</p>
                </div>
            </div>   
            <div *ngIf="message.type === 'received' ">
                <div text-wrap class="received">
                    <p>{{message.text}}</p>
                </div>
            </div>            
        </div>
    </ion-list>

</ion-content>
<ion-footer style="background-color:white;">
    <form #f="ngForm">
        <ion-grid>
            <ion-row>
                <ion-col col-10>                    
                        <ion-input type="text" [(ngModel)]="chatBox" name="chatText" required placeholder="Message..."></ion-input>                                          
                </ion-col>
                <ion-col col-2>
                    <button  ion-button clear icon-only (click)="send(f.value,f.valid)" [disabled]="f.valid === false" icon-right>
                        
                        <ion-icon name="send"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-footer>
