page-my-products {
    .product-highlighters{
       font-size: 1rem;
       padding:0px;

       ion-col{
           padding: 2px;
           color: #898989;
       }

       ion-col.product-data{
          color: #1a1e5e;
       }
   }

    .gradeCircle2{
        background-color: #f4f4f4;
    border: 3px solid #1a1e5e;
    border-radius: 40px;
    box-shadow: 0 0 2px #888;
    height: 75px;
    width: 75px;
    text-align: center;
    line-height: 5em;
    color: #1a1e5e;
    font-weight:bold;
    margin-left: auto;
    margin-right: auto;

    }
}
