page-speed-dial {
    .dialpad{
        ion-row{
        padding: 1px;
      
    }
        
          .num
{
    //padding: 0px;
    border: 1px solid #9e9e9e;
    -webkit-border-radius: 999px;
    border-radius: 999px;
    -moz-border-radius: 999px;
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}
.num:active
{
    background-color: #1a1e5e;
    color: #fff;
    transition-property: background-color .2s linear 0s;
    -moz-transition: background-color .2s linear 0s;
    -webkit-transition: background-color .2s linear 0s;
    -o-transition: background-color .2s linear 0s;
}
        
   }
    .call-enabled{
        color: green;
        border-color: green;
    }

  
}
