page-edit-product {
    
    font-size: 1.4rem;
    .item {
                    background-color: transparent;
                    border:none;   /*Removes all borders*/
                    //color:#898989;
                    }
    .item-content {
  background-color: transparent;
}

}
