
<ion-header>

  <ion-navbar>
    <ion-title>Edit Product</ion-title>

      <ion-buttons end>
          <button ion-button (click)="confirmDelete()" clear>
              <ion-icon name="trash"></ion-icon>
          </button>
       </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content text-center style="background-color:#f0f4f5;">
    <!--<ion-card class="profile-top">
        <ion-row>
            <ion-col>
                <div class="profile-photo">
                        <img [src]="user.photoURL">
                </div>
                <button ion-button block clear color="royal">Change profile picture</button>
            </ion-col>
        </ion-row>
    </ion-card>-->
    <ion-row *ngIf="product?.productImage">
    <ion-col text-center>
        <div class="profile-photo" >
            <img [src]="product?.productImage">
        </div>
    </ion-col>
    </ion-row>

    <h2>{{product?.name}}</h2>
    <ion-list text-wrap>
        <ion-list-header no-lines>
            Product Details (Tap a value to edit)
        </ion-list-header>        

        <ion-item (click)="updateMrate()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Market Rate
                    </ion-col>
                    <ion-col *ngIf="product?.mrate">
                        : {{product?.mrate}}
                    </ion-col>
                    <ion-col class="placeholder-profile" *ngIf="!product?.mrate">
                        <span>
                            : Tap here to edit.
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item (click)="updateKrate()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Kalamboli Rate
                    </ion-col>
                    <ion-col *ngIf="product?.krate">
                        : {{product?.krate}}
                    </ion-col>
                    <ion-col class="placeholder-profile" *ngIf="!product?.krate">
                        <span>
                            : Tap here to edit.
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item (click)="updateGrade()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Grade
                    </ion-col>
                    <ion-col *ngIf="product?.gradeval">
                        : {{product?.gradeval}}
                    </ion-col>
                    <ion-col class="placeholder-profile" *ngIf="!product?.gradeval">
                        <span>
                            : Tap here to edit.
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item *ngIf="product?.ptype" (click)="updatePtype()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Product Type
                    </ion-col>
                    <ion-col *ngIf="product?.ptype">
                        : {{product?.ptype}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item *ngIf="product?.pcategory" (click)="updateCategory()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Category
                    </ion-col>
                    <ion-col *ngIf="product?.pcategory">
                        : {{product?.pcategory}}
                    </ion-col>                   
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item *ngIf="product?.sizes" (click)="updateSizes()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Sizes
                    </ion-col>
                    <ion-col *ngIf="product?.sizes">
                        : {{product?.sizes}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        
        <ion-item *ngIf="product?.finish" (click)="updateFinish()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Finish
                    </ion-col>
                    <ion-col *ngIf="product?.finish">
                        : {{product?.finish}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item *ngIf="product?.type" (click)="updateType()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Type
                    </ion-col>
                    <ion-col *ngIf="product?.type">
                        : {{product?.type}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item *ngIf="product?.swg" (click)="updateSwg()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        SWG
                    </ion-col>
                    <ion-col *ngIf="product?.swg">
                        : {{product?.swg}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item *ngIf="product?.sch" (click)="updateSch()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        SCH
                    </ion-col>
                    <ion-col *ngIf="product?.sch">
                        : {{product?.sch}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item *ngIf="product?.mm" (click)="updateMm()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        MM
                    </ion-col>
                    <ion-col *ngIf="product?.mm">
                        : {{product?.mm}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item *ngIf="product?.quantity" (click)="updateQuantity()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Quantity
                    </ion-col>
                    <ion-col *ngIf="product?.quantity">
                        : {{product?.quantity}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item *ngIf="product?.unit" (click)="updateUnit()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Unit
                    </ion-col>
                    <ion-col *ngIf="product?.unit">
                        : {{product?.unit}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item *ngIf="product?.guarantee" (click)="updateGuarantee()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Ultra Guarantee
                    </ion-col>
                    <ion-col *ngIf="product?.unit">
                        : {{product?.guarantee}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>        
        <ion-item *ngIf="product?.thickness" (click)="updateThickness()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Thickness
                    </ion-col>
                    <ion-col *ngIf="product?.thickness">
                        : {{product?.thickness}}
                    </ion-col>
                    <ion-col class="placeholder-profile" *ngIf="!product?.thickness">
                        <span>
                            : Tap here to edit.
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item *ngIf="product?.width" (click)="updateWidth()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Width
                    </ion-col>
                    <ion-col *ngIf="product?.width">
                        : {{product?.width}}
                    </ion-col>
                    <ion-col class="placeholder-profile" *ngIf="!product?.width">
                        <span>
                            : Tap here to edit.
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item *ngIf="product?.length" (click)="updateLength()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Length
                    </ion-col>
                    <ion-col *ngIf="product?.length">
                        : {{product?.length}}
                    </ion-col>
                    <ion-col class="placeholder-profile" *ngIf="!product?.length">
                        <span>
                            : Tap here to edit.
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item *ngIf="product?.weight" (click)="updateWeight()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Weight
                    </ion-col>
                    <ion-col *ngIf="product?.weight">
                        : {{product?.weight}}
                    </ion-col>
                    <ion-col class="placeholder-profile" *ngIf="!product?.weight">
                        <span>
                            : Tap here to edit.
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item *ngIf="product?.nos" (click)="updateNos()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Nos.
                    </ion-col>
                    <ion-col *ngIf="product?.nos">
                        : {{product?.nos}}
                    </ion-col>                    
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item *ngIf="product?.quality" (click)="updateQuality()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Quality
                    </ion-col>
                    <ion-col *ngIf="product?.quality">
                        : {{product?.quality}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        
        <ion-item (click)="updateComposition()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Composition
                    </ion-col>
                    <ion-col *ngIf="product?.composition">
                        : {{product?.composition}}
                    </ion-col>
                    <ion-col class="placeholder-profile" *ngIf="!product?.composition">
                        <span>
                            : Tap here to edit.
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item (click)="updateOrigin()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Origin
                    </ion-col>
                    <ion-col *ngIf="product?.origin">
                        : {{product?.origin}}
                    </ion-col>
                    <ion-col class="placeholder-profile" *ngIf="!product?.origin">
                        <span>
                            : Tap here to edit.
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item (click)="updateBrand()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        Brand
                    </ion-col>
                    <ion-col *ngIf="product?.brand">
                        : {{product?.brand}}
                    </ion-col>
                    <ion-col class="placeholder-profile" *ngIf="!product?.brand">
                        <span>
                            : Tap here to edit.
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item (click)="updateMtc()">
            <ion-grid>
                <ion-row>
                    <ion-col width-33>
                        MTC
                    </ion-col>
                    <ion-col *ngIf="product?.mtc">
                        : {{product?.mtc}}
                    </ion-col>
                    <ion-col class="placeholder-profile" *ngIf="!product?.mtc">
                        <span>
                            : Tap here to edit.
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

    </ion-list>

</ion-content>
