<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="royal">
        <ion-item *ngIf="currentprofile?.name" no-lines color="royal">
            <ion-avatar item-left *ngIf="currentprofile?.photoURL">
                <img [src]="currentprofile?.photoURL"> 
            </ion-avatar>
            <ion-avatar item-left *ngIf="!currentprofile?.photoURL">
                <img src="assets/img/placeholder-profile.png">
            </ion-avatar>
            <h2>{{currentprofile?.name}}</h2>
            <!--<p>Ugh. As if.</p>-->
        </ion-item>
        <ion-item *ngIf="!currentprofile?.name" no-lines color="royal">
            
            <h2>MetBazaar</h2>
            <!--<p>Ugh. As if.</p>-->
        </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content class="custom">
    <ion-list no-lines>
        <ion-item menuClose ion-item *ngFor="let p of openPages" (click)="openPage(p)">
            <custom-icon set="mb" [name] ="p.icon" item-left></custom-icon>
            {{p.title}}           
        </ion-item>
        <ion-item menuClose ion-item *ngFor="let p of pushPages" (click)="pushPage(p)">
            <custom-icon set="mb" [name]="p.icon" item-left></custom-icon>
            {{p.title}}
        </ion-item>
        <ion-item menuClose ion-item (click)="shareApp()">
            <custom-icon set="mb" name="share" item-left></custom-icon>
            Share App
        </ion-item>
        <ion-item menuClose ion-item (click)="logout()">
            <custom-icon set="mb" name="logout" item-left></custom-icon>
            Logout
        </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>