<!--
  Generated template for the MetalCalculator page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Metal Calculator</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
    <ion-item >
        <ion-label stacked>Select Material</ion-label>
        <ion-select [(ngModel)]="material" (ionChange)="materialSelected()">
            <ion-option value="0" selected="true">Stainless 300 series</ion-option>
            <ion-option value="1">Stainless 400 series</ion-option>
            <ion-option value="2">Aluminum 1100</ion-option>
            <ion-option value="3">Aluminum 1145</ion-option>
            <ion-option value="4">Aluminum 2014</ion-option>
            <ion-option value="5">Aluminum 2017</ion-option>
            <ion-option value="6">Aluminum 2024</ion-option>
            <ion-option value="7">Aluminum 3003</ion-option>
            <ion-option value="8">Aluminum 5005</ion-option>
            <ion-option value="10">Aluminum 5052</ion-option>
            <ion-option value="11">Aluminum 5083</ion-option>
            <ion-option value="12">Aluminum 6061</ion-option>
            <ion-option value="13">Aluminum 7075</ion-option>
            <ion-option value="14">Aluminum 8011</ion-option>
            <ion-option value="15">Aluminum 8079</ion-option>

            <ion-option value="16"> Nickel</ion-option>
            <ion-option value="17"> Magnesium</ion-option>
            <ion-option value="18"> Beryllium</ion-option>
            <ion-option value="19"> Titanium</ion-option>
            <ion-option value="20"> Zirconium</ion-option>
            <ion-option value="22"> Zinc</ion-option>
            <ion-option value="25"> Copper</ion-option>
            <ion-option value="26"> Molybdenum</ion-option>
            <ion-option value="27"> Silver</ion-option>
            <ion-option value="28"> Lead</ion-option>
            <ion-option value="29"> Tantalum</ion-option>
            <ion-option value="30"> Tungsten</ion-option>
            <ion-option value="31"> Gold</ion-option>



            <ion-option value="Titanium">Titanium</ion-option>
        </ion-select>
    </ion-item>
    <ion-item >
        <ion-label stacked>Select Shape</ion-label>
        <ion-select [(ngModel)]="shape" (ionChange)="shapeSelected()">
            <ion-option value="0" selected="true">Sheet</ion-option>
            <ion-option value="1">Plate</ion-option>            
            <ion-option value="3">Round Welded & Seamless Pipe / Tube</ion-option>
            <ion-option value="4">Square Welded Pipe / Tube</ion-option>
            <ion-option value="6">Flat Bar</ion-option>
            <ion-option value="7">Hexagon Bar</ion-option>
            <ion-option value="8">Square Bar</ion-option>
            <ion-option value="9">Round Bar</ion-option>

        </ion-select>
    </ion-item>
    <ion-item *ngIf="shape == 4 ">
        <ion-label stacked>Diameter (mm)</ion-label>
        <ion-input [(ngModel)]="diameter" type="number"
                   placeholder="Enter Diameter (mm)" min="0" step="0.01">
        </ion-input>
    </ion-item>
    <ion-item *ngIf="shape == 3  || shape == 9 || shape == 2">
        <ion-label stacked>Outer Diameter (mm)</ion-label>
        <ion-input [(ngModel)]="outer" type="number"
                   placeholder="Enter Outer Diameter (mm)" min="0" step="0.01">
        </ion-input>
    </ion-item>
    <ion-item *ngIf="shape == 7">
        <ion-label stacked>Inner Diameter (mm)</ion-label>
        <ion-input [(ngModel)]="inner" type="number"
                   placeholder="Enter Inner Diameter (mm)" min="0" step="0.01">
        </ion-input>
    </ion-item>
    <ion-item *ngIf="shape == 2">
        <ion-label stacked>Wall Thickness (mm)</ion-label>
        <ion-input [(ngModel)]="wall" type="number"
                   placeholder="Enter Wall Thickness(mm)" min="0" step="0.01">
        </ion-input>
    </ion-item>
    <ion-item *ngIf="shape == 0 || shape == 1 || shape == 5 || shape == 6 || shape == 8">
        <ion-label stacked>Width (mm)</ion-label>
        <ion-input [(ngModel)]="width" type="number"
                   placeholder="Enter Width (mm)" min="0" step="0.01">
        </ion-input>
    </ion-item>
    <ion-item *ngIf="shape == 0 || shape == 1 || shape == 3 || shape == 4 || shape == 6 || shape == 5">
        <ion-label stacked>Thickness (mm)</ion-label>
        <ion-input [(ngModel)]="thickness" type="number"
                   placeholder="Enter Thickness (mm)" min="0" step="0.01">
        </ion-input>
    </ion-item>
    <ion-item *ngIf="shape == 0 || shape == 1 || shape == 2 || shape == 3 || shape == 4 || shape == 5 || shape == 6 || shape == 7 || shape == 8 || shape == 9">
        <ion-label stacked>Length (Mtr)</ion-label>
        <ion-input [(ngModel)]="length" type="number"
                   placeholder="Enter Length (Mtr)" min="0" step="0.01">
        </ion-input>
    </ion-item>

    <ion-row>
        <ion-col>
            <ion-item no-lines text-center>
                <button ion-button (click)="calculate()" outline>
                    <ion-icon name="add-circle">Calculate</ion-icon>
                </button>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item no-lines text-center>

                <button ion-button (click)="doclear()" outline>
                    <ion-icon name="add-circle">Clear</ion-icon>
                </button>
            </ion-item>

        </ion-col>
    </ion-row>
 
    <ion-item no-lines>
        <ion-label stacked>Calculated Weight (Kg) =</ion-label>
        <ion-input [(ngModel)]="calculated" type="number"
                   disabled="true">
        </ion-input>

        
    </ion-item>
</ion-content>
