page-search-categories {
    fullpage{
       display: flex;
  flex-flow: column;
  height: 100%;
  }

    .content{
            position: relative;
    top: 50%;
    transform: translateY(-50%);

    }

    .product-card{
        margin: 0px;
        width: 100%;
        height: 100% !important;
    }

    .ion-card-content{
        padding: 12px 4px 12px 4px;

    }

    .product-highlighters{
       font-size: 1.2rem;
       padding: 10px 0px;

       ion-col{
           padding: 2px;
           color: #777777;
       }

       ion-col.product-data{
          color: #1a1e5e;
       }
   }
    .gradeCircle{
        
    display: inline-block;
    text-align: center;
    /* width: 10%; */
    /* border: 1.2em solid #dddddd; */
    background-color: #ddd;
    width: 2.4em;
    height: 2.4em;
    line-height: 2.4em;
    border-radius: 50%;
    /* max-width: 1.2em; */
    /* max-height: 1.2em; */
    /* box-sizing: border-box; */    
    /* margin: 0 auto; */


    }

    .gradeCircle2{
        background-color: #f4f4f4;
    border: 3px solid #1a1e5e;
    border-radius: 40px;
    box-shadow: 0 0 2px #888;
    height: 75px;
    width: 75px;
    text-align: center;
    line-height: 5em;
    color: #1a1e5e;
    font-weight:bold;
    margin-left: auto;
    margin-right: auto;

    }
}
