<!--
  Generated template for the PostBuyRequirements page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Post A Requirement</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center padding class="product-details">

    <form [formGroup]="requirementForm" (submit)="showConfirm(requirementForm)">

        <ion-item>
            <ion-label stacked>Product Category</ion-label>
            <custom-icon set="mb" name="products" item-left></custom-icon>
            <ion-select class="grade-select" text-wrap #category formControlName="category" [(ngModel)]="selectedCat" (ionChange)="getGrades()">
                <ion-option value="Stainless Steel Coils" selected="true">Stainless Steel Coils</ion-option>
                <ion-option value="Stainless Steel Sheets" >Stainless Steel Sheets / Plates</ion-option>
                <ion-option value="Stainless Steel Packets">Stainless Steel Packets</ion-option>
                <ion-option value="Stainless Steel Seamless Pipes">Stainless Steel Seamless Pipes</ion-option>
                <ion-option value="Stainless Steel Welded/ERW Pipes">Stainless Steel Welded/ERW Pipes</ion-option>
                <ion-option value="Stainless Steel Electropolish Pipes">Stainless Steel Electropolish Pipes</ion-option>
                <ion-option value="Stainless Steel Square & Rectangular Pipes">Stainless Steel Square & Rectangular Pipes</ion-option>
                <ion-option value="Stainless Steel Flats">Stainless Steel Flats</ion-option>
                <ion-option value="Stainless Steel Angles">Stainless Steel Angles</ion-option>
                <ion-option value="Stainless Steel Round Bars">Stainless Steel Round Bars</ion-option>
                <ion-option value="Duplex & Super Duplex Coils">Duplex & Super Duplex Coils</ion-option>
                <ion-option value="Duplex & Super Duplex Sheets">Duplex & Super Duplex Sheets</ion-option>
                <ion-option value="Duplex & Super Duplex Seamless Pipes">Duplex & Super Duplex Seamless Pipes</ion-option>
                <ion-option value="Duplex & Super Duplex Welded/ERW Pipes">Duplex & Super Duplex Welded/ERW Pipes</ion-option>
                <ion-option value="Duplex & Super Duplex Electropolish Pipes">Duplex & Super Duplex Electropolish Pipes</ion-option>
                <ion-option value="Duplex & Super Duplex Sqr. & Rect. Pipes">Duplex & Super Duplex Sqr. & Rect. Pipes</ion-option>                
                <ion-option value="Duplex & Super Duplex Round Bars">Duplex & Super Duplex Round Bars</ion-option>
                <ion-option value="Exotic Alloys Coils">Exotic Alloys Coils</ion-option>
                <ion-option value="Exotic Alloys Sheets">Exotic Alloys Sheets</ion-option>
                <ion-option value="Exotic Alloys Seamless Pipes">Exotic Alloys Seamless Pipes</ion-option>
                <ion-option value="Exotic Alloys Welded/ERW Pipes">Exotic Alloys Welded/ERW Pipes</ion-option>
                <ion-option value="Exotic Alloys Electropolish Pipes">Exotic Alloys Electropolish Pipes</ion-option>
                <ion-option value="Exotic Alloys Sqr. & Rect. Pipes">Exotic Alloys Sqr. & Rect. Pipes</ion-option>
                <ion-option value="Exotic Alloys Round Bars">Exotic Alloys Round Bars</ion-option>
                <ion-option value="Others">Others</ion-option>
            </ion-select>
        </ion-item>           
        <ion-item *ngIf="!selectalloyoff">
            <custom-icon set="mb" name="star" item-left></custom-icon>
            <ion-label stacked>Product Alloy Type</ion-label>
            <ion-select #ptype formControlName="ptype" [(ngModel)]="selectedAlloy" (ionChange)="alloySelected()">
                <ion-option value="Hastelloy" selected="true">Hastelloy</ion-option>
                <ion-option value="Inconel">Inconel</ion-option>
                <ion-option value="Monel">Monel</ion-option>
                <ion-option value="Nimonic">Nimonic</ion-option>
                <ion-option value="Nickel">Nickel</ion-option>
                <ion-option value="Titanium">Titanium</ion-option>                
            </ion-select>
        </ion-item>
        <ion-item *ngIf="selecton">
            <ion-label>Grade</ion-label>
            <custom-icon set="mb" name="grade" item-left></custom-icon>
            <ion-select #grade formControlName="grade" >
                <ion-option *ngFor="let grade of gradeList | async">{{grade.Grade}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="!this.selecton">
            <ion-label stacked>Grade</ion-label>
            <custom-icon set="mb" name="grade" item-left></custom-icon>
            <ion-input #grade formControlName="grade" type="text"
                       placeholder="Enter Grade">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Quantity</ion-label>
            <custom-icon set="mb" name="quantity" item-left></custom-icon>
            <ion-input #quantity formControlName="quantity" type="number"
                       placeholder="Required Quantity">
            </ion-input>
        </ion-item>
       
                <ion-item>
                    <ion-label stacked>Unit</ion-label>
                    <custom-icon set="mb" name="unit" item-left></custom-icon>
                    <ion-select #unit formControlName="unit">
                        <ion-option value="Kg" selected="true">Kg</ion-option>
                        <ion-option value="Ton">Ton</ion-option>
                        <ion-option value="Mtrs">Mtrs</ion-option>
                        <ion-option value="Nos">Nos</ion-option>
                    </ion-select>
                </ion-item>
             
                    <ion-item>
                        <ion-label stacked>Bid Price (optional)</ion-label>
                        <custom-icon set="mb" name="bidprice" item-left></custom-icon>
                        <ion-input #bid formControlName="bid" type="number"
                                   placeholder="Rs/Kg">
                        </ion-input>
                    </ion-item>
        
        <ion-item>
            <custom-icon set="mb" name="vat" item-left></custom-icon>
                   
            <ion-list item-content radio-group #btype formControlName="btype">
                <h4 style="padding-top:10px">Select Bid Type(optional)</h4>                    
                <ion-item >
                    <ion-label>+ vat</ion-label>
                    <ion-radio value="vat"></ion-radio>
                </ion-item>
                <ion-item no-lines>
                    <ion-label>+ excise + vat</ion-label>
                    <ion-radio value="exv" checked></ion-radio>
                </ion-item>
            </ion-list>
        </ion-item>  




        
                    
                        <ion-item>
                            <ion-label stacked>Details (optional)</ion-label>
                            <custom-icon set="mb" name="post" item-left></custom-icon>
                            <ion-input #details formControlName="details" type="text"
                                       placeholder="Requirement Details...">
                            </ion-input>
                        </ion-item>
                        
                            <ion-input type="text" hidden [(ngModel)]="currentuser.uid" formControlName="uid"></ion-input>
                            <button ion-button round type="submit" style="margin: 20px">
                                Post
                            </button>
            </form>
</ion-content>
